export ENCRYPT_KEY=$(op read op://dev/config-server-encrypt-key/password)
export SPRING_CLOUD_CONFIG_JDBC_URL=$(op read op://dev/spring-cloud-config-server-service/JDBC/jdbc-url)
export SPRING_CLOUD_CONFIG_JDBC_USERNAME=$(op read op://dev/spring-cloud-config-server-service/JDBC/jdbc-username)
export SPRING_CLOUD_CONFIG_JDBC_PASSWORD=$(op read op://dev/spring-cloud-config-server-service/JDBC/jdbc-password)
