[Unit]
Description=@service.description@
Requires=network.target
After=network.target

[Service]
User=runner
Group=runner
Type=notify
WorkingDirectory=/var/spool/bjoggis-studios
EnvironmentFile=/etc/bjoggis-studios-environment
EnvironmentFile=/usr/local/config-server-service/config-server-service-@project.version@.conf
ExecStart=/usr/bin/java -server \
    -Duser.language=en \
    -Duser.country=US \
    ${JAVA_OPTIONS} \
    -DHOSTNAME=${HOSTNAME} \
    -Dspring.profiles.active=${SPRING_PROFILES_ACTIVE},overrides \
    -DSERVICE_NAME=${SERVICE_NAME} \
    -DLOGLEVEL=${LOGLEVEL} \
    -Dloader.path=file:/usr/local/${SERVICE_NAME}/config/ \
    -jar ${SERVICE_JAR}
TimeoutStartSec=@timeout.start@
RestartSec=30
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
